<div class="row">
    <!-- Login side bar -->
    <div class="col-md-3">
        <div class="jumbotron">
            <div class="bs-component">
                <p>To publish a new ad, please login.</p>
                <p><a class="btn btn-primary btn-md">Login</a></p>
                <p><a class="btn btn-primary btn-md">Register</a></p>
            </div>
        </div>
    </div>
    <!-- Main ads bar -->
    <div id="main-bar" class="col-md-6">
        <div ng-repeat="ad in data.ads" class="jumbotron">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="pull-left">{{ad.title}}</h3>
                </div>
                <div class="col-md-5">
                    <span class="pull-right">{{ad.date | date: 'd-MM-yyyy'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="" alt="Image" ng-src="{{ad.imageDataUrl}}">
                </div>
                <div class="col-md-8">
                    <div>{{ad.text}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories side bar -->
    <div id="categories-sidebar" class="col-md-3">
        <div class="jumbotron">
            <div class="bs-component">
                <h3>Categories</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">All</a></li>
                    <li ng-repeat="categorie in data.ads"><a href="#">{{categorie.categoryId}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Towns side bar -->
    <div id="towns-sidebar" class="col-md-3 col-md-offset-9">
            <div class="jumbotron">
                <div class="bs-component">
                    <h3>Towns</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">All</a></li>
                        <li ng-repeat="town in towns"><a href="#">{{town.name}}</a></li>
                    </ul>
                </div>
            </div>
    </div>
    <!-- Pager -->
    <div class="col-md-6 col-md-offset-3">
        <div class="bs-component">
            <ul class="pagination">
                <li><a href="#">First</a></li>
                <li><a href="#">Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">Next</a></li>
                <li><a href="#">Last</a></li>
            </ul>
        </div>
    </div>
</div>