<div class="row">
    <!-- Left public side bar -->
    <div class="col-md-3">
        <left-public-sidebar></left-public-sidebar>
    </div>
    <!-- Main ads bar -->
    <div id="main-bar" class="col-md-6">
        <div ng-repeat="ad in data.ads" class="jumbotron">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="pull-left">{{ad.title}}{{categoriesId}}</h3>
                </div>
                <div class="col-md-3">
                    <span class="pull-right">{{ad.date | date: 'd-MM-yyyy'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="" alt="No Image" ng-src="{{ad.imageDataUrl}}">
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Ad text</div>
                        <div class="panel-body">{{ad.text}}</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Name</div>
                        <div class="panel-body">{{ad.ownerName}}</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Email</div>
                        <div class="panel-body">{{ad.ownerEmail}}</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Telephone</div>
                        <div class="panel-body">{{ad.ownerPhone}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="categories-sidebar" class="col-md-3">
        <right-public-sidebar></right-public-sidebar>
        
    </div>
    <!-- Pager -->
    <div class="col-md-6 col-md-offset-3">
        <div class="bs-component">
            <ul class="pagination">
                <li><a href="#/">First</a></li>
                <li><a href="#/ads/page/{{startPage - 1}}">Previous</a></li>
                <li ng-repeat="page in numPages | limitTo : 7"><a href="#/ads/page/{{page}}">{{page}}</a></li>
                <li><a href="#/ads/page/{{startPage + 1}}">Next</a></li>
                <li><a href="#/ads/page/{{numPages.length}}">Last</a></li>
            </ul>
        </div>
    </div>
</div>