<div class="row">
    <!-- Login side bar -->
    <div class="col-md-3">
        <div class="jumbotron">
            <div class="bs-component">
                <p>To publish a new ad, please login.</p>
                <p><a href="#/login" class="btn btn-primary btn-md">Login</a></p>
                <p><a href="#/register" class="btn btn-primary btn-md">Register</a></p>
                <p><a href="#/ads" class="btn btn-primary btn-md">Home page</a></p>
            </div>
        </div>
    </div>
    <!-- Main ads bar -->
    <div id="main-bar" class="col-md-6">
        <div ng-repeat="ad in data.ads" class="jumbotron">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="pull-left">{{ad.title}}</h3>
                </div>
                <div class="col-md-5">
                    <span class="pull-right">{{ad.date | date: 'd-MM-yyyy'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="" alt="No Image" ng-src="{{ad.imageDataUrl}}">
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Ad text</div>
                        <div class="panel-body">{{ad.text}}</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Name</div>
                        <div class="panel-body">{{ad.ownerName}}</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Email</div>
                        <div class="panel-body">{{ad.ownerEmail}}</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Telephone</div>
                        <div class="panel-body">{{ad.ownerPhone}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories side bar -->
    <div id="categories-sidebar" class="col-md-3">
        <div class="jumbotron">
            <div class="bs-component">
                <h3>Categories</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#/ads">All</a></li>
                    <li ng-repeat="categorie in categories"><a href="#">{{categorie.name}}</a></li>
                </ul>
            </div>
        </div>
    <!-- Towns side bar -->
        <div class="jumbotron">
            <div class="bs-component">
                <h3>Towns</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#/ads">All</a></li>
                    <li ng-repeat="town in towns"><a href="" ng-click="">{{town.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Pager -->
    <div class="col-md-6 col-md-offset-3">
        <div class="bs-component">
            <ul class="pagination">
                <li><a href="#">First</a></li>
                <li><a href="#">Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">Next</a></li>
                <li><a href="#">Last</a></li>
            </ul>
        </div>
    </div>
</div>