<div class="row">
	<!-- Login side bar -->
    <div class="col-md-3">
        <div class="jumbotron">
            <div class="bs-component">
                <p>To publish a new ad, please login.</p>
                <p><a href="#/login" class="btn btn-primary btn-md">Login</a></p>
                <p><a href="#/register" class="btn btn-primary btn-md">Register</a></p>
                <p><a href="#/ads" class="btn btn-primary btn-md">Home page</a></p>
            </div>
        </div>
    </div>
    <!-- Main login form -->
    <div class="col-md-5">
	    <div class="well bs-component">
	        <form class="form-horizontal">
	          <fieldset>
	            <legend class="text-center">Login</legend>
	            <div class="form-group">
	              <label for="inputUsername" class="col-md-2 control-label">Username</label>
	              <div class="col-md-9">
	                <input type="text" class="form-control" id="inputUsername" placeholder="Username  ">
	              </div>
	            </div>
	            <div class="form-group">
	              <label for="inputPassword" class="col-md-2 control-label">Password</label>
	              <div class="col-md-9">
	                <input type="password" class="form-control" id="inputPassword" placeholder="  Password">
	              </div>
	            </div>
	            <div class="form-group">
	              <div class="col-md-9 col-md-offset-2">
	                <button type="submit" class="btn btn-primary">Login</button>
	                <a class="pull-right" href="#/register">Register here</a>
	              </div>
	            </div>
	          </fieldset>
	        </form>
	    </div>
	</div>
</div>