<div class="row">
    <!-- Left public side bar -->
    <div class="col-md-3">
        <div ng-include="'templates/left-public-sidebar.html'"></div>
    </div>
    <!-- Main registration form -->
    <div class="col-md-8">
	    <div class="well bs-component">
	        <form class="form-horizontal">
	          <fieldset>
	            <legend class="text-center">User Registration</legend>
	            <div class="col-md-6">
		            <div class="form-group">
		              <label for="inputUsername" class="col-md-3 control-label">Username</label>
		              <div class="col-md-9">
		                <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="inputPassword" class="col-md-3 control-label">Password</label>
		              <div class="col-md-9">
		                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="inputName" class="col-md-3 control-label">Name</label>
		              <div class="col-md-9">
		                <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="user.name">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="inputPhone" class="col-md-3 control-label">Phone</label>
		              <div class="col-md-9">
		                <input type="text" class="form-control" id="inputPhone" placeholder="Phone" ng-model="user.phone">
		              </div>
		            </div>
	        	</div>
	            <div class="col-md-6">
		            <div class="form-group">
		              <label for="confirmPassword" class="col-md-3 control-label">Confirm password</label>
		              <div class="col-md-9">
		                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" ng-model="user.confirmPassword">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="inputEmail" class="col-md-3 control-label">Email</label>
		              <div class="col-md-9">
		                <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="select" class="col-md-3 control-label">Town</label>
		              <div class="col-md-9">
		                <select class="form-control" id="inputTown" ng-options="town.id as town.name for town in towns" ng-model="user.townId">
	                    </select>
		              </div>
		            </div>
	        	</div>
	            <div class="form-group">
	              <div class="col-md-9 col-md-offset-2">
	                <button type="submit" class="btn btn-primary" ng-click="registerUser(user)">Register</button>
	                <a class="pull-right" href="#/login">Login here</a>
	              </div>
	            </div>
	          </fieldset>
	        </form>
	    </div>
	</div>
</div>