#Rewriting module
#Provides a rule-based rewriting engine to rewrite requested URLs on the fly
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
php_value upload_max_filesize 10M
php_value post_max_size 10M