@model SportSystem.Web.Models.MatchViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">@Model.HomeTeam.Name vs @Model.AwayTeam.Name</h2>
    </div>
    <div class="panel-body">
        <p><span>Start: </span>@Model.MatchDate</p>
        @if (this.User.Identity.IsAuthenticated)
        {
            <p>@Html.ActionLink("Details", "Details", "Matches", new { id = Model.Id }, new { @class = "btn btn-default" })</p>
        } 
    </div>
</div>

