<!-- User navigation bar -->
<div>
    <div class="jumbotron">
        <div class="bs-component">
            <h3 class="text-center">Navigation</h3>
            <h3 class="text-center">Username: {{username}}</h3>
            <p class="text-center"><a href="#/user/home" class="btn btn-primary btn-sm btn-block" ng-click="reload()">Home page</a></p>
            <p class="text-center"><a href="#/user/ads" class="btn btn-primary btn-sm btn-block">My Ads</a></p>
            <p class="text-center"><a href="#/user/ads/publish" class="btn btn-primary btn-sm btn-block">Publish New Ad</a></p>
            <p class="text-center"><a href="#/user/profile" class="btn btn-primary btn-sm btn-block">Edit Profile</a></p>
            <p class="text-center"><a href="#/" class="btn btn-primary btn-sm btn-block" ng-click="logout()">Logout</a></p>
        </div>
    </div>
</div>