<div ng-repeat="ad in data.ads | filter: status" total-items="totalAds" class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h3 class="pull-left">{{ad.title}}</h3>
        </div>
        <div class="col-md-3">
            <span class="pull-right">{{ad.date | date: 'd-MM-yyyy'}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="" alt="No Image" ng-src="{{ad.imageDataUrl?ad.imageDataUrl:'img/no_image.svg'}}">
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Ad text</div>
                <div class="panel-body">{{ad.text}}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Category</div>
                <div class="panel-body">{{ad.categoryName}}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Town</div>
                <div class="panel-body">{{ad.townName}}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Status</div>
                <div class="panel-body">{{ad.status}}</div>
            </div>
            <p class="text-center" ng-show="!isInactive"><button type="button" class="btn btn-primary btn-sm btn-block" ng-click="deactivateAd(ad.id)">Deactivate</button></p>
            <div ng-show="isInactive">
                <p class="text-center"><a href="#/user/ads/edit/{{ad.id}}"  class="btn btn-primary btn-sm btn-block" ng-click="">Edit</a></p>
                <p class="text-center"><button type="submit" class="btn btn-primary btn-sm btn-block" ng-click="publishAgainUserAd(ad.id)">Publish Again</button></p>
                <p class="text-center"><a href="#/user/ads/delete/{{ad.id}}" class="btn btn-primary btn-sm btn-block" ng-click="">Delete</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Pager -->
<div class="text-center">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="lib/pagination/dirPagination.tpl.html"></dir-pagination-controls>
</div>