<!-- <div class="row"> -->
<!--     Left user side bar
    <div class="col-md-3">
        <div ng-include="'templates/user/user-navigation-sidebar.html'"></div>
        <div ng-include="'templates/user/user-ads-navigation-sidebar.html'" ng-show="!isPublish"></div>
    </div> -->
    <!-- Main ads bar -->
    <div class="col-md-8" ng-show="!isUserHome">
        <div ng-include="'templates/public/all-ads.html'"></div>
    </div>
    <div class="col-md-9" ng-show="!isPublish && isUserHome">
        <div ng-include="'templates/user/user-ads.html'"></div>
    </div>
    <div class="col-md-9" ng-include="'templates/user/user-publish-ads.html'" ng-show="isPublish"></div>

    <!-- Right public side bar -->
    <div class="col-md-2" ng-show="!isUserHome">
        <right-category-sidebar></right-category-sidebar>
        <right-town-sidebar></right-town-sidebar>
    </div>
<!-- </div> -->