<!-- Categories side bar -->
<div>
    <div class="well bs-component">
    	<p class="text-center"><span class="label label-info">Category:{{parameters.categoryName}}</span></p>
        <h3 class="text-center">Categories</h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#/category/{{category.name}}/town/{{parameters.townName}}" ng-click="cancelCategoryId()">All</a></li>
            <li ng-repeat="category in categories"><a href="#/category/{{category.name}}/town/{{parameters.townName}}" ng-click="getCategoryId(category.id, category.name)">{{category.name}}</a></li>
        </ul>
    </div>
</div>