* {
	margin: 0;
	padding: 0;
}

#header {
	text-align: center;
}

#wrapper {
	padding: 80px;
	overflow: hidden;
}

#errors {
	position: absolute;
	left: 10%;
	top: 20%;
	border: 5px solid black;
}

img {
	width: 75%;
}

#alerts {
	font-size: 22px;
}

#loading {
	margin: 20px;
	width: 100%;
}

#footer {
	text-align: center;
}