* {
	margin: 0;
	padding: 0;
}

#header {
	text-align: center;
}

#wrapper {
	padding: 80px;
}

#main-bar {
	
}

#categories-sidebar {
	
}

#towns-sidebar {
}

img {
	width: 100%;
}

#footer {
	text-align: center;
}